
<div class="container">
    <blockquote class="quote-box">
      <p class="quotation-mark">
        “
      </p>
      <p class="quote-text">
        Don't believe anything that you read on the internet, it may be fake. 
      </p>
      <hr>
      <div class="blog-post-actions">
        <p class="blog-post-bottom pull-left">
          Abraham Lincoln
        </p>
        <p class="blog-post-bottom pull-right">
          <span class="badge quote-badge">743</span>  ❤
        </p>
      </div>
    </blockquote>
</div>

<figure>
  <blockquote class="blockquote">
    <p>All our dreams can come true, if we have the courage to pursue them.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
   <cite>  Walt Disney</cite>
  </figcaption>
</figure>

<div class="container-fluid">
		<div class="row">
    <div class="col-12 quote-box">
      <div class="icon-circle">
        <div class="quotation"></div>
      </div>
      <!-- |||  Quote STARTS Here ||| -->
      <p class="quote-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hic nihil fuit, quod quaereremus. Nam his libris eum malo quam reliquo ornatu villae delectari. Teneo, inquit, finem illi videri nihil dolere. Nobis aliter videtur, recte secusne, postea; Atque his de rebus et splendida est eorum et illustris oratio. Immo videri fortasse.</p>
      <p>&mdash; <strong>Jane D.</strong></p>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
           <!-- PAGE TITLE -->
            <h1 class="page__title my-3 text-center">
               Simple Blockquote Styles &mdash;
           </h1>

            <!-- BLOCKQUOTE -->
           <blockquote class="blockquote">
                <p class="mb-0">
                    Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while. That's because they were able to connect experiences they've had and synthesize new things.
                </p>
                <footer class="blockquote-footer">
                    Steve Jobs <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>