<div class="row"> 
    <div class="table-responsive">
        <h3 class="mt-4">Visual Grammar Cues</h3>
        <table class="table table-striped table-bordered mt-3">
        <thead class="table-light">
            <tr>
            <th>Rule</th>
            <th>How to Use</th>
            <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>Concepts or Terms</td>
            <td>Concepts and Terms us the <strong> bold </strong> html tag to emphasize and cement vocabulary.</td>
            <td>The quick <strong>brown</strong> fox jumps. It lands gracefully!</td>
            </tr>
            <tr>
            <td>Verbs /Actions</td>
            <td>Use underline for verbs processes and behaviors</td>
            <td>I <em>tried</em>, I <em>failed</em>, I <em>learned</em>.</td>
            </tr>
            <tr>
            <td>Phrase Emphasis</td>
            <td>Use of em tag for <em>Emphasizing Ideas</em></td>
            <td></td>
            </tr>
            <tr>
            <td>Definitions</td>
            <td>Split content into 1–3 sentences per chunk</td>
            <td>Avoid long unbroken paragraphs for better pacing.</td>
            </tr>
        </tbody>
        </table>
    </div>
</div>