<div class="container my-5">
    <app-landing-section></app-landing-section>

 <!-- Features -->
    <div class="container my-5 my-lx-5 p-2 p-lx-5">  
      <section class="row text-center my-5">
        <div class="col-md-3 mb-5">
          <h4>🎧 Listen on the Go</h4>
          <p>Convert cards to audio and study hands-free.</p>
        </div>
        <div class="col-md-3 mb-5">
          <h4>📱 Mobile Friendly</h4>
          <p>Works beautifully across all devices.</p>
        </div>
        <div class="col-md-3 mb-5">
          <h4>⚡ Fast & Simple</h4>
          <p>Clean and intuitive study experience.</p>
        </div>
        <div class="col-md-3 mb-5 ">
          <h4>🎨 Customizable</h4>
          <p>Build decks for any subject, your way.</p>
        </div>
      </section>
    </div>
  <!-- Timeline -->
    <div class="container mt-5 pt-5 m-lg-5 py-lg-5">
        <h2 class="text-center my-4">The Journey Behind the Flashcards App</h2>
        <section class="timeline mb-5 py-5">
            
        <div class="timeline-item">
            <div class="timeline-date">2024</div>
            <div class="timeline-content">
            <h3>Idea Sparked Started</h3>
            <p>The concept was born: make studying portable, effortless, and interactive.</p>
            </div>
        </div>
        <div class="timeline-item">
            <div class="timeline-date">2025</div>
            <div class="timeline-content">
            <h3>Early 2025 – Prototype Launched</h3>
            <p>First working version with basic flashcard creation.</p>
            </div>
        </div>
            <div class="timeline-item">
                <div class="timeline-date">2025</div>
                <div class="timeline-content">
                <h3>Mid 2025 – Audio Learning Added</h3>
                <p>Integrated speech features to let users listen to cards on the go.</p>
                </div>
            </div>
        <div class="timeline-item">
            <div class="timeline-date">2025 - Present</div>
            <div class="timeline-content">
            <h3>Today – Growing with You</h3>
            <p>Constant improvements based on real student and professional feedback.</p>
            </div>
        </div>
        </section>
    </div>   
</div>

