<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="fluid-container">
<!-- app.component.html -->
<!-- app.component.html -->
<div class="fluid-container "> 
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/">Flashcards App</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Flashcards</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/interview" routerLinkActive="active">Interview QA</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" routerLink="/whiteboard" routerLinkActive="active">Whiteboard QA</a>
                </li>
                 <li class="nav-item">
                <a class="nav-link" routerLink="/elevator" routerLinkActive="active">Elevator</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<main class="container mt-4">
  <router-outlet></router-outlet>
</main>

</div>