<section class="text-center my-5 p-5 bg-light rounded-3 shadow-sm">
    <div class="container m-lx-5 py-5 ">
        <h1 class="display-4 fw-bold m-lx-5">Study Smarter, Anywhere</h1>
        <p class="lead"> A lightweight, mobile-friendly flashcards tool designed to help you learn on the go.</p>
        <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-3 mt-4">
            <button class="btn btn-primary mb-3 mb-md-0" routerLink="/signup">Get Started</button>
            <button class="btn btn-outline-secondary" (click)="openContact()">Contact Us</button>
        </div>
    </div>
</section>
